# Libs necessárias

In [1]:
# Pacotes para trabalhar com análise de dados
import pandas as pd
import pandas_datareader.data as web
import numpy as np

In [2]:
# Análises de gráfcos
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots

In [3]:
# Função para data
from datetime import datetime

In [4]:
# YFiance
import yfinance as yf
yf.pdr_override()

In [5]:
# Avisos
import warnings
warnings.filterwarnings('ignore')

### API Yahoo Finance

O yfinance oferece uma maneira segmentada e Pythonic de baixar dados de mercado do Yahoo finanças.

In [7]:
# Coletando os dados
dados = web.get_data_yahoo( 'PETR4.SA', period='1y' )

[*********************100%***********************]  1 of 1 completed

In [8]:
# Shape
dados.shape

(250, 6)

In [9]:
# Lendo os dados com a função head(), esta função apresenta os 5 priemiros registros na base de dados
dados.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2022-02-24  34.799999  35.290001  32.680000  33.389999  19.513241  139674100
2022-02-25  33.450001  34.000000  32.900002  34.000000  19.869728   86189100
2022-03-02  35.259998  35.290001  34.389999  34.669998  20.261278   58071800
2022-03-03  34.820000  34.930000  34.160000  34.240002  20.009987   69237400
2022-03-04  34.080002  34.680000  33.820000  34.230000  20.004143   55418000

In [10]:
# Ultimos registros, basta usar a função tail()
dados.tail()

             Open       High        Low      Close  Adj Close    Volume
Date
2023-02-16  26.60  26.950001  26.490000  26.850000  26.850000  44115700
2023-02-17  26.67  26.670000  26.370001  26.440001  26.440001  61085700
2023-02-22  26.00  26.110001  25.690001  25.760000  25.760000  38608500
2023-02-23  25.77  26.790001  25.770000  26.549999  26.549999  73913400
2023-02-24  26.67  26.700001  26.100000  26.180000  26.180000  13854300

In [11]:
# A função describe() apresenta uma estatística dos dados importados
dados.describe()

,Open,High,Low,Close,Adj Close,Volume
count,250.000000,250.000000,250.000000,250.000000,250.000000,2.500000e+02
mean,29.697840,30.229120,29.161360,29.710760,23.653501,8.150131e+07
std,3.665291,3.691001,3.611885,3.647601,3.490359,3.738428e+07
min,21.000000,22.110001,20.770000,21.469999,17.537956,1.385430e+07
25%,26.585000,27.065000,26.105000,26.700001,20.342245,5.607485e+07
50%,30.415000,30.710000,29.815000,30.090000,23.754831,7.266990e+07
75%,32.599998,33.105000,32.017501,32.557501,26.238671,9.660060e+07
max,37.650002,38.389999,36.849998,37.720001,33.003029,3.195016e+08

In [12]:
# Comando info() me da todas as informações da base de dados
dados.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 250 entries, 2022-02-24 to 2023-02-24
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       250 non-null    float64
 1   High       250 non-null    float64
 2   Low        250 non-null    float64
 3   Close      250 non-null    float64
 4   Adj Close  250 non-null    float64
 5   Volume     250 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 13.7 KB

In [13]:
# Medias moveis na informação de fechamento, a qual ajuda identificar algumas tendências
# formula MMA = soma dos preços de fechamento + números de dias

# Média Simples usando a função statistics
lista = [11,12,13,14,15,16, 17]

from statistics import mean as media
print(f'Media: { media(lista) }')

# Média Simples sem usar a dunção statistics
print(f'Media: {(11 + 12 + 13 + 14 + 15 + 16 + 17) / len(lista)}')

Media: 14
Media: 14.0

In [14]:
media (lista)

14

In [15]:
# Período da média móvel
for loop in range(10):
    print(loop)

0
1
2
3
4
5
6
7
8
9